.reveal section img
{
    margin: 15px 0px;
    background: transparent;
    border: none;
    box-shadow: none;
}

.img-right img
{
    float: right;
}

.img-left img
{
    float: left;
}

.img-50 img
{
    width: 50%;
}

.img-75 img
{
    width: 75%;
}

.img-85 img
{
    width: 85%;
}